snscrape==0.4.3.20220106
umap_learn==0.5.3
numpy==1.18.2
openai==0.25.0
matplotlib==3.2.1
textblob==0.17.1
plotly==5.2.1
Django==3.2
requests==2.18.4
pandas==1.0.3
scikit_image==0.19.2
newscatcherapi==0.7.2
numpy==1.23.5
Pillow==9.3.0
sentence_transformers==2.2.2
skimage==0.0
transformers==4.24.0
umap==0.1.1
